[Desktop Entry]
Type=Application
Name=Ho22bus
Comment=Recite word easily
Exec=ho22bus
Terminal=false
Icon=ho22bus.png
StartupNotify=true
Categories=Education;Languages;
