[Desktop Entry]
Type=Application
Name=HoDict
Comment=Ho22bus's Dict
Comment[zh_CN]=Ho22bus 的辞典
Exec=ho22bus -d
Terminal=false
Icon=hodict.png
StartupNotify=true
Categories=Utility;Dictionary;
